@import "tailwindcss";
@import "../stylesheets/spinner.css";
@custom-variant dark (&:where(.dark, .dark *));

/* Default theme (orange) */
:root {
    --color-primary: var(--color-purple-500);
    --color-primary-hover: var(--color-purple-600);
    --color-primary-dark: var(--color-purple-600);
    --color-primary-light: var(--color-purple-300);
}

/* Purple theme */
[data-theme="orange"] {
    --color-primary: var(--color-orange-500);
    --color-primary-hover: var(--color-orange-600);
    --color-primary-dark: var(--color-orange-600);
    --color-primary-light: var(--color-orange-300);
}

/* Purple theme */
[data-theme="purple"] {
    --color-primary: var(--color-purple-500);
    --color-primary-hover: var(--color-purple-600);
    --color-primary-dark: var(--color-purple-600);
    --color-primary-light: var(--color-purple-300);
}

/* Blue theme */
[data-theme="blue"] {
    --color-primary: var(--color-blue-500);
    --color-primary-hover: var(--color-blue-600);
    --color-primary-dark: var(--color-blue-600);
    --color-primary-light: var(--color-blue-300);
}

/* Green theme */
[data-theme="green"] {
    --color-primary: var(--color-green-500);
    --color-primary-hover: var(--color-green-600);
    --color-primary-dark: var(--color-green-600);
    --color-primary-light: var(--color-green-300);
}

/* Amber theme */
[data-theme="amber"] {
    --color-primary: var(--color-amber-500);
    --color-primary-hover: var(--color-amber-600);
    --color-primary-dark: var(--color-amber-600);
    --color-primary-light: var(--color-amber-300);
}

@theme {
    --color-primary: var(--color-primary);
    --color-primary-hover: var(--color-primary-hover);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-light: var(--color-primary-light);
}

@layer components {

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
    }

    .body-base {
        @apply bg-white text-sky-900 dark:bg-zinc-900 dark:text-zinc-200;
    }

    .slide-out-menu {
        @apply bg-zinc-50 dark:bg-slate-900
    }

    [x-cloak] {
        display: none !important;
    }

    .mobile-nav-button {
        @apply text-slate-900 dark:text-slate-50;
    }

    .btn {
        @apply cursor-pointer py-2 px-4 rounded-md;
    }

    .btn-primary {
        @apply cursor-pointer py-2 px-4 rounded-md text-white bg-primary hover:bg-primary-hover focus:ring-primary;
    }

    .btn-secondary {
        @apply cursor-pointer py-2 px-4 rounded-md text-gray-700 bg-gray-200 border border-gray-300 hover:bg-gray-300 focus:ring-gray-300 dark:text-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:focus:ring-gray-600;
    }

    .card {
        @apply p-6 rounded-xl shadow-lg border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800;
    }

    .card-border {
        @apply border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800;
    }

    .input-form-field {
        @apply rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:z-10 sm:text-sm
    }
}
