<div class="w-full h-96 flex items-center justify-center bg-linear-65 from-purple-500 to-pink-500 text-white">
  <h1 class="font-extrabold text-4xl md:text-7xl tracking-tight px-5 text-center">Rails AI Starter</h1>
</div>
