<div class="container-bg w-full h-96 flex items-center justify-center">
  <h1 class="font-extrabold text-4xl md:text-7xl tracking-tight px-5 text-center">Rails AI Starter</h1>
</div>

<div class="container-bg-secondary w-full h-96 flex items-center justify-center">
  <h1 class="font-extrabold text-4xl md:text-7xl tracking-tight px-5 text-center">Features</h1>
</div>
